/**
JS API docs styles
*/
.sputnik-maps {
	color: inherit;
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans", sans-serif;
	.title {
		color: inherit;
	}
}
// markdown `accent` GFM-markdown style
p code, p tt {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	padding: 0.2em 0;
	margin: 0;
	font-size: 85%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
	&:before, &:after {
		letter-spacing: -0.2em;
		content: "\00a0";
	}
}
.b-api_item table {
	th, td {
		border: 1px solid #000;
		padding: 5px;
	}
	td:nth-child(2n) {
		text-align: center;
	}
}