//  markercluster defaults
$size: 30px;
$outerSize: 40px;
$margin: 5px;

// smaller icons - not good for cluster values of 1000+
// $size: 24px;
// $outerSize: 34px;
// $margin: 5px;

.sputnik-maps {

	.marker-cluster {
		background-clip: padding-box;
		border-radius: $size;
		width: $outerSize !important;
		height: $outerSize !important;
		margin-left: $outerSize * -0.5 !important;
		margin-top: $outerSize * -0.5 !important;
	}
	.marker-cluster div {
		width: $size;
		height: $size;
		margin-left: $margin;
		margin-top: $margin;

		text-align: center;
		border-radius: $size / 2;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	.marker-cluster span {
		line-height: $size;
	}

	.marker-cluster-small {
		background-color: #1e98ff;
	}
	.marker-cluster-small div {
		background-color: #fff;
	}

	.marker-cluster-medium {
		background-color: #1e98ff;
	}
	.marker-cluster-medium div {
		background-color: #fff;
	}

	.marker-cluster-large {
		background-color: #1e98ff;
	}
	.marker-cluster-large div {
		background-color: #fff;
	}

}