.sputnik-maps {
	$height: 18px;
	$paddingHorizontal: 10px;
	.leaflet-control.copyrights-control {
		height: $height;
		margin: 0;
		padding: 0 $paddingHorizontal;
		background-color: rgba(255, 255, 255, 0.5);

		span {
			$color: #555;

			display: inline-block;

			color: $color;

			&.copyrights-delimiter {
				display: inline-block;
				width: 2 * $paddingHorizontal;
				color: lighten($color, 40%);
				text-align: center;
			}

			a {
				padding: 3px 0;
				color: $color;
				text-decoration: none;
			}
		}

		span, a {
			font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
		}
	}
}